<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Quasar App
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Essential Links
        </q-item-label>

        <EssentialLink
          v-for="link in linksList"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { ref } from 'vue'
import EssentialLink from 'components/EssentialLink.vue'
import { route } from 'quasar/wrappers';

defineOptions({
  name: 'MainLayout'
})

const linksList = [
  {
    title: 'My Tasks',
    caption: 'List of Unfinished Tasks',
    icon: 'task',
    route_name: 'my-tasks',
  },
  {
    title: 'Finished Tasks',
    caption: 'List of Finished Tasks',
    icon: 'check_circle_outline',
    route_name: 'finished-tasks',
  },
  {
    title: 'Deleted Tasks',
    caption: 'List of Deleted Tasks',
    icon: 'delete_outline',
    route_name: 'deleted-tasks',
  },
]

const leftDrawerOpen = ref(false)

function toggleLeftDrawer () {
  leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>
