<script setup>
  
  import {ref} from 'vue'; //using vue js scripts

  //declaring variables
  let todoList = ref([]);
  let todo = ref(null);

  //adding a to-do list , added if statement to prevent duplicate todo
  const addTodo = () => {
    if(validateTodo(todo.value)) {    
      let id = todoList.value.length;
      todoList.value.push({
        id: ++id,
        todo: todo.value,
        is_done: false
      })
      todo.value = null
  }
}
  // script to prevent duplicate todo
  const validateTodo = (new_todo) => {
    let index = todoList.value.findIndex((t) => t.todo === new_todo);
    if (index !== -1) {
      alert("Todo already exist!");
      return false;
    } else {
      return true;
    }
  }

  //updating a to do from the list
  let selectedTodo = ref(null);
  const selectTodo = (row) => {
    selectedTodo.value = row;
    todo.value = row.todo;
  }

  //script for updating todo
  const updateTodo = () => {
    if (validateTodo(todo.value)) {
      let index = todoList.value.findIndex((t) => t.id === selectedTodo.value.id);
      index !== -1 && (todoList.value[index].todo = todo.value);

      todo.value = selectedTodo.value = null;
    }
  }

  //script defining the function markAsDone to mark todo as done
  const markAsDone = (row) => {
    if (confirm(`Are you sure you want to mark ${row.todo} as done?`)) {
      let index = todoList.value.findIndex((t) => t.id === row.id);
      index !== -1 && (todoList.value[index].is_done = true);
    }
  }

  // removeTodo function to remove a todo from the list
  const removeTodo = (row) => {
    if (confirm(`Are you sure you want to delete ${row.todo}?`)) {
      let index = todoList.value.findIndex((t) => t.id === row.id);
      index !== -1 && todoList.value.splice(index, 1);
    }
  }
</script>

<template>
<div class="d-flex justify-content-center container">
      <div class="w-75">
          <form @submit.prevent="!selectedTodo ? addTodo() : updateTodo()">  <!-- handles both adding and updating todo based on selectedTodo-->
              <div class="mb-3 mt-5">
                <label for="todo">What's your todo?</label>
                <div class="d-flex">
                  <input v-model="todo" type="text" class="form-control" id="todo" placeholder="eg. Create todo application"> <!--using v-model-->
                  <button v-if="!selectedTodo" class="btn btn-primary ms-3"><i class="bi bi-plus-circle-fill"></i></button> <!-- v-if directive -->
                  <button v-else class="btn btn-primary ms-3"><i class="bi bi-pencil-square"></i></button> <!-- v-else directive -->
                </div>
              </div>
          </form>
          <div @click="selectTodo(row)" v-for="row in todoList" :key="row.id" class="toast show mt-2 w-100">  <!-- using v-for directive in list rendering-->
            <div class="toast-header">
              <strong class="me-auto">{{row.todo}}</strong> <!-- interpolation to display data-->
              <button :class="`btn btn-${row.is_done ? 'success' : 'outline-secondary'} btn-sm`" @click.stop="markAsDone(row)"><i class="bi bi-check-lg"></i></button> <!-- to mark todo as done-->
              <button class="btn btn-danger btn-sm ms-1" @click.stop="removeTodo(row)"><i class="bi bi-trash-fill"></i></button>
            </div>
          </div>
      </div>
    </div>
</template>

<style scoped>
</style>
